li {
    font-family: MARIO Font v3_2 Solid;
    font-size: large;
    color: white;
    text-shadow: -2px 2px black;
    text-align: center;
}

body {
    background-image: linear-gradient(#ff0000, #ffa500);
}

@font-face {
    font-family: MARIO Font v3_2 Solid;
    src: url("font/MARIO_Font_v3_Solid.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

* { font-family:MARIO Font v3_2 Solid; text-align: center; }

.shadowtext {
    text-shadow: -2px 2px rgb(0, 0, 0);
    color:white;
    font-size:x-large;
}

iframe {
    display: block;
    border: 5px solid rgb(255, 51, 0);
    margin: 0 auto;
    box-shadow: 0px 0px 80px black;
}

.imgHeader {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

hr {
    height: 2px;
    color: black;
    background-color: black;
    border-width:0;
}

button {
    background-image: linear-gradient(90deg, rgba(255,1,3,1) 0%, rgba(255,96,0,1) 100%);
    background-repeat: no-repeat;
    border-width: 3px;
    border-color:black;
    border-style: solid;
    box-shadow: 1px 1px 2px;
    display: inline-block;
}

.social {
    transition: transform .2s; /* Animation */
}
.social:hover {
    transform: scale(1.1);
}

h1 {
    font-size: xx-large;
}

.team {
    width: 8vw;
    min-width: calc(64px * var(--mobile-font-scale));
    display: inline-block;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    padding-bottom: 1.5vw;
    margin: 0 auto;
    clear: left;
    text-align: center;
    position: relative;
}

.specialthanks {
    width: 8vw;
    min-width: calc(64px * var(--mobile-font-scale));
    display: inline-block;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    padding-bottom: 1.5vw;
    margin: 0 auto;
    clear: left;
    text-align: center;
    position: relative;
}

.member {
    border-radius: 50%;
    width: 8vw;
    min-width: calc(64px * var(--mobile-font-scale));
    background-color: #36393f70;

}

.nameWrapper {
    width: 100%;
}

.memberName {
    /*animation: floatText 5s infinite linear;*/
    text-shadow: -2px 2px rgb(0, 0, 0);
    color:white;
    font-size:x-large;    
}