li {
    font-family: MARIO Font v3_2 Solid;
    font-size: large;
    color: white;
    text-shadow: -2px 2px black;
    text-align: center;
}

body {
    background-image: linear-gradient(#ff0000, #ffa500);
}

@font-face {
    font-family: MARIO Font v3_2 Solid;
    src: url("font/MARIO_Font_v3_Solid.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

* { font-family:MARIO Font v3_2 Solid; text-align: center; }

.shadowtext {
    text-shadow: -2px 2px rgb(0, 0, 0);
    color:white;
    font-size:x-large;
}

iframe {
    display: block;
    border: 5px solid rgb(255, 51, 0);
    margin: 0 auto;
    box-shadow: 0px 0px 80px black;
}

.imgHeader {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

hr {
    height: 2px;
    color: black;
    background-color: black;
    border-width:0;
}

button {
    background-color: linear-gradient(rgb(255, 81, 0), red);
    background-repeat: no-repeat;
    border-width: 3px;
    border-color:black;
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}